/* universal styles */
* {
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    margin: 0 0;
    text-align: center;
    font-family: 'Lato';
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
/* header */

header {
    height: 85px;
    background-color: #009de6;
    width: 100%;
    border-bottom: 1px solid black;
}

header img {
    height: 75px;
    padding-left: 20px;
}

h2 {
    font-family: 'Lato';
    padding-left: 5px;
    color: white;
}

nav {
    text-align: right;
    flex-grow: 1;
    padding-right: 20px;
}

nav span {
    font-size: 22px;
    font-weight: 700;
    padding-right: 15px;
    text-decoration: underline;
    color: white;
}

nav span:hover {
    cursor: pointer;
}
/* main banner */

.banner {
    width: 100%;
    padding-top: 50px;
}

#club {
    background-image: url(./Resources/Running-Club-London-Group-Photo.jpg);
    background-size: cover;
    height: 450px;
}

.welcome h1 {
    color: white;
    font-size: 2.5rem;
    padding-bottom: 20rem;
    letter-spacing: 0.2rem;
}

/* about */

#about {
    background-color: #009de6;
    padding-top: 1px;
    width: 100%;
}

.text h2 {
    color:yellow;
    text-align: left; 
    font-weight: 700;
}

.text h4 {
    color: white;
    text-align: left;
    letter-spacing: 2px;
}

.running {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 70px;
}

.running img {
    width: 30%;
    margin-left: 1%;
    margin-right: 1%;
}

/* quote */

.quote {
    height: 300px;
}

.quote p {
    font-size: 2.5rem;
    color: #009de6;
    font-weight: 900;
    padding-top: 50px;
}

.quote h4 {
    text-align: left;
    padding-left: 20px;
}

/* gallery */

.gallery {
    width: 100%;
    background-color: #009de6;
    padding-top: 60px;
}

.photo img {
    width: 30%;
    margin-left: 1%;
    margin-right: 1%;
}

.meetup h3 {
    color: yellow;
    font-size: 2rem;
    padding-top: 50px;
    font-weight: 900;
}

.meetup img {
    width: 50%;
    margin-bottom: 5px;
}

.meetup1 h3 {
    padding-top: 10px;
    margin: 0;
    padding-bottom: 20px;
}

/* footer */

footer {
    text-align: left;
    padding: 20px;
    font-weight: 700;
}

footer span {
    padding-right: 60px;
    font-size: 20px;
}

footer span:hover {
    cursor: pointer;
}

@media screen and (max-width: 812px) {
   header {
       height: auto;
   }
    nav  span {
       display: block;
       text-align: center;
    }
    .quote {
        height: auto;
    }

    .running {
        overflow: hidden;
    }
    .running img {
        width: 100%;
    }

    .gallery {
        overflow: hidden;
    }
    .gallery img {
       width: 100%;
    }
    footer {
        height: auto;
    }
}